@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #140d27;
}

/* In your custom CSS or stylesheets */
.gradient-border {
  border: 2px solid transparent; /* Set an initial transparent border */
  background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  background-clip: padding-box; /* Ensure the gradient doesn't cover the border */
}
.shield {
  background: url('../assets/Shield.png') center -1px no-repeat;
}

.text-gradient {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-gradient:hover {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
